* {
    /* font-family: 'Sedgwick Ave Display', cursive; */
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: url('/img/background.jpg');  
    text-align:center;
    background-position:50% 50%;  /* Sets reference point to scale from */
    background-size:cover;        /* Sets background image to cover entire element */
}

/*------Parental Container------*/
#root{
    padding-left: 10%;
    padding-right: 10%;
}
/*------Parental Container------*/




.active{
    border: 2px solid blue;
}
.external-link-bar{
    color: blue;
    background-color: ;
    padding-bottom: 100px; 
}
.footer{
    background-color:inherit;
}
.center {
    display:inline-block;
    height:auto;
    width:auto;
    margin: 0 auto;
}

.banner-img {
  margin-top: 2%;
}
.link-bar{
 display: inline-flex;
 width: 100%;
 padding-left: 9%;
 padding-right:9%;

  }
.nav-links{
width: auto;
flex-grow: 1;
border: 2px solid orange;
background-color: black;
color: white;
}
.header {
    margin-top: 5%;
}

.space-filler {
    height: 10%;
    width: 100%;
}

.info-box {
    margin-top: 1%;
    margin-bottom: 2%;
}

.info-box-p {
    text-align: center;
}

.button-container {
    padding: auto;
}

.categories {}

.category {
    max-width: 40%;
    margin: 5%;
}

.category-list {
    display: flex;
    flex-direction: ltr;
    background-color: grey;
    opacity: 0.7;
}

.title {
    align-content: center;
}

.home {
    background: grey;
    color: black;
}

.cat-trap {
    width: 150px;
    height: 200px;
}

.container {
    align: center;
    width: 90%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    align-content: center;
    position: center;
}

.sub-container {
    background-color: grey;
    width: auto;
    height: auto;
}